.black__default {
  color: black !important;
}

.bg-black__default {
  background-color: black !important;
}

.black__shade-1 {
  color: #575757 !important;
}

.bg-black__shade-1 {
  background-color: #575757 !important;
}

.white__default {
  color: white !important;
}

.bg-white__default {
  background-color: white !important;
}

.white__shade-1 {
  color: #f2efef !important;
}

.bg-white__shade-1 {
  background-color: #f2efef !important;
}

.dark-blue__default {
  color: #243646 !important;
}

.bg-dark-blue__default {
  background-color: #243646 !important;
}

.dark-blue__shade-1 {
  color: #2d4860 !important;
}

.bg-dark-blue__shade-1 {
  background-color: #2d4860 !important;
}

.dark-blue__shade-2 {
  color: #274259 !important;
}

.bg-dark-blue__shade-2 {
  background-color: #274259 !important;
}

.dark-blue__shade-3 {
  color: #273f56 !important;
}

.bg-dark-blue__shade-3 {
  background-color: #273f56 !important;
}

.orange__default {
  color: #ffb049 !important;
}

.bg-orange__default {
  background-color: #ffb049 !important;
}

.orange__shade-1 {
  color: #f3b05a !important;
}

.bg-orange__shade-1 {
  background-color: #f3b05a !important;
}

.orange__shade-2 {
  color: #efa13d !important;
}

.bg-orange__shade-2 {
  background-color: #efa13d !important;
}

.orange__shade-3 {
  color: #f6a53a !important;
}

.bg-orange__shade-3 {
  background-color: #f6a53a !important;
}

.red__default {
  color: #d52027 !important;
}

.bg-red__default {
  background-color: #d52027 !important;
}

.red__shade-1 {
  color: #d23b40 !important;
}

.bg-red__shade-1 {
  background-color: #d23b40 !important;
}

.red__shade-2 {
  color: #cb2d31 !important;
}

.bg-red__shade-2 {
  background-color: #cb2d31 !important;
}

.red__shade-3 {
  color: #c90303 !important;
}

.bg-red__shade-3 {
  background-color: #c90303 !important;
}

.light__default {
  color: #f5eadd !important;
}

.bg-light__default {
  background-color: #f5eadd !important;
}

.light__shade-1 {
  color: #ece4dc !important;
}

.bg-light__shade-1 {
  background-color: #ece4dc !important;
}

.light__shade-2 {
  color: #d0cac4 !important;
}

.bg-light__shade-2 {
  background-color: #d0cac4 !important;
}

.light__shade-3 {
  color: #b6afa9 !important;
}

.bg-light__shade-3 {
  background-color: #b6afa9 !important;
}

.gray__default {
  color: #989696 !important;
}

.bg-gray__default {
  background-color: #989696 !important;
}

.gray__shade-1 {
  color: #bebcbc !important;
}

.bg-gray__shade-1 {
  background-color: #bebcbc !important;
}

.gray__shade-2 {
  color: #b2b0b0 !important;
}

.bg-gray__shade-2 {
  background-color: #b2b0b0 !important;
}

.gray__shade-3 {
  color: #a69e9e !important;
}

.bg-gray__shade-3 {
  background-color: #a69e9e !important;
}

.primary__default {
  color: #19bfd3 !important;
}

.bg-primary__default {
  background-color: #19bfd3 !important;
}

.primary__shade-1 {
  color: #3d3dfc !important;
}

.bg-primary__shade-1 {
  background-color: #3d3dfc !important;
}

.primary__shade-2 {
  color: #4169E1 !important;
}

.bg-primary__shade-2 {
  background-color: #4169E1 !important;
}

.green__default {
  color: green !important;
}

.bg-green__default {
  background-color: green !important;
}

.green__shade-1 {
  color: #06bd06 !important;
}

.bg-green__shade-1 {
  background-color: #06bd06 !important;
}
