.permission-box {
  max-height: calc(90vh - 63px);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-style: unset;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.permission-box::-webkit-scrollbar {
  display: none;
}
