.persian-number {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

// ? Bold
@font-face {
    font-family: IRANSansWeb_Bold;
    src: url("../../../public/fonts/bold/IRANSansWeb_Bold.woff2") format("woff2");
    font-display: swap;
}


@mixin IRANSansWeb_Bold {
    font-family: IRANSansWeb_Bold, sans-serif;
    @extend .persian-number;
}


// ? Medium
@font-face {
    font-family: IRANSansWeb_Medium;
    src: url("../../../public/fonts/medium/IRANSansWeb_Medium.woff2") format("woff2");
    font-display: swap;
}

@mixin IRANSansWeb_Medium {
    font-family: IRANSansWeb_Medium, sans-serif;
    @extend .persian-number;
}


// ? light
@font-face {
    font-family: IRANSansWeb_Light;
    src: url("../../../public/fonts/light/IRANSansWeb_Light.woff2") format("woff2");
    font-display: swap;
}

@mixin IRANSansWeb_Light {
    font-family: IRANSansWeb_Light, sans-serif;
    @extend .persian-number;
}
